
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0 !important;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: orangered;

}

.search-bar {
  margin-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav li a:hover {
  color: aqua !important;
}

.navbar-default .navbar-nav li a {
  color: white;
}

.navbar-default .navbar-brand {
  color: yellow
}

header {
  text-align: center;
  margin: 0 !important;
}

.pagenotfound {
  background: url('https://s3.us-east-2.amazonaws.com/devh2o/Static/I/errorpage.jpg') center center no-repeat;
  background-size: cover;
  min-height: 700px;
  h4 {
    color: white;
  }
}

.loginform {
  padding: 10px;

}

.home {
  .jumbotron {
    background-color: dimgrey;
    color: white;
  }
  .container {
    margin-bottom: 50px;
    margin-top: 50px;
    .imagegrid {
      text-align: center;
    }

  }

}

footer {
  .jumbotron {
    background: dimgrey;
  }
  li {
    list-style-type: none;
    margin-bottom: 11px;
    padding: 5px;

    color: antiquewhite;

  }
  .footer1 {
    margin-bottom: 0 !important;
  }
  .icon {
    font-size: 2em;
    border-radius: 50%;
    width: 50px;
    height: 50px;

  }
  .social-icons .fa-facebook {

    @extend .icon;
    background-color: #3C599F;

  }

  .social-icons .fa-google-plus {
    @extend .icon;
    background-color: #CF3D2E;

  }

  .social-icons .fa-twitter {
    @extend .icon;
    background-color: #32CCFE;

  }

  .social-icons .fa-pinterest {
    @extend .icon;
    background-color: #CC2127;

  }

  .social-icons .fa {
    padding: 10px;
    text-align: center;
    font-family: FontAwesome;

  }

  .fa-facebook:hover {
    opacity: 0.7;

  }

  .fa-google-plus:hover {
    opacity: 0.7;

  }

  .fa-pinterest:hover {
    opacity: 0.7;

  }

  .fa-twitter:hover {
    opacity: 0.7;

  }

  .footer-heading {
    text-decoration: underline;
    color: antiquewhite;

  }

  .copyright {
    margin-bottom: 0 !important;
    padding: 10px;
    background-color: aquamarine;
    font-family: initial;
    text-align: center;
  }

}


